<?xml version="1.0" encoding="UTF-8"?>
<ruleset>
    <arg value="ps"/>
    <arg name="colors"/>

    <file>src</file>
    <file>tests</file>

    <rule ref="Doctrine">
        <exclude name="SlevomatCodingStandard.TypeHints.PropertyTypeHint.MissingNativeTypeHint" />
    </rule>
</ruleset>
